<!DOCTYPE html>
<html>

<head>
    <title>Course Page</title>
</head>

<body>
    <h1>Course Page</h1>

    <% if (courses && courses.length> 0) { %>
        <ul>
            <% courses.forEach(course=> { %>
                <li>
                    <%= course.title %> - <%= course.duration %>
                </li>
                <% }); %>
        </ul>
        <% } else { %>
            <p>No courses available.</p>
            <% } %>

                <a href="/">Go back to Home Page</a>
</body>

</html>